In [1]:
import pandas as pd

In [2]:
cd ../

/home/jovyan

In [3]:
train_df = pd.read_csv('kinetics-dataset/kinetics400/train.csv')
train_df = train_df.drop(['time_start'], axis = 1)
train_df= train_df.drop(['time_end'], axis = 1)
train_df= train_df.drop(['split'], axis = 1)
train_df.head()

                  label   youtube_id
0            testifying  ---QUuC4vJs
1      eating spaghetti  --3ouPhoy2A
2  dribbling basketball  --4-0ihtnBU
3        playing tennis  --56QUhyDQM
4           tap dancing  --6q_33gNew

In [4]:
train_csv = train_df.set_index('youtube_id').agg(list, axis=1).to_dict()

In [5]:
cd ../../

/

In [10]:
DATA_DIR = 'tmp/train_256'

In [16]:
#when using data directly
dictionary ={}
import os

directory = os.fsencode(DATA_DIR)
    
for file in os.listdir(directory):
  try:
    filename = os.fsdecode(file)
    #print(filename)
    dictionary[DATA_DIR+'/'+filename]=train_csv[filename[0:11]][0]
  except:
    pass

In [17]:
#when data stored in folders
dictionary ={}
import os

directory = os.fsencode(DATA_DIR)
import os
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    #print(f)
    for filename in os.listdir(f):
       fil = os.path.join(f, filename)
       dictionary[os.fsdecode(fil)] = os.fsdecode(os.path.basename(f))

In [18]:
data_items = dictionary.items()
data_list = list(data_items)

df = pd.DataFrame(data_list)

In [19]:
df

                                                       0              1
0      tmp/train_256/belly_dancing/1envheMuhqk_000207...  belly_dancing
1      tmp/train_256/belly_dancing/1AH_8mrtqnM_000006...  belly_dancing
2      tmp/train_256/belly_dancing/1glQafnTBQs_000119...  belly_dancing
3      tmp/train_256/belly_dancing/2BDZwseEAfk_000040...  belly_dancing
4      tmp/train_256/belly_dancing/1bI0AiGJCWE_000311...  belly_dancing
...                                                  ...            ...
12416  tmp/train_256/milking_cow/1gGVdnXlW5o_000003_0...    milking_cow
12417  tmp/train_256/milking_cow/0CsAKXK4sgk_000004_0...    milking_cow
12418  tmp/train_256/milking_cow/0XyEeNJp5_g_001121_0...    milking_cow
12419  tmp/train_256/milking_cow/0LdmTwbHPu8_000001_0...    milking_cow
12420  tmp/train_256/milking_cow/1Gm6Ez2rBDI_000004_0...    milking_cow

[12421 rows x 2 columns]

In [20]:
cd /home/jovyan

/home/jovyan

In [21]:
cd PlanetaryComputerExamples

/home/jovyan/PlanetaryComputerExamples

In [25]:
df_reset.to_csv('train30.csv')

In [23]:
df_reset=df.reset_index(drop=True)
df_reset.head()

                                                   0              1
0  tmp/train_256/belly_dancing/1envheMuhqk_000207...  belly_dancing
1  tmp/train_256/belly_dancing/1AH_8mrtqnM_000006...  belly_dancing
2  tmp/train_256/belly_dancing/1glQafnTBQs_000119...  belly_dancing
3  tmp/train_256/belly_dancing/2BDZwseEAfk_000040...  belly_dancing
4  tmp/train_256/belly_dancing/1bI0AiGJCWE_000311...  belly_dancing

In [28]:
df2 = pd.read_csv('validation.csv')
df1 = pd.read_csv('train30.csv')

In [29]:
frames = [df1, df2]
  
result = pd.concat(frames)
display(result)

,0,1
0,tmp/train_256/belly_dancing/1envheMuhqk_000207...,belly_dancing
1,tmp/train_256/belly_dancing/1AH_8mrtqnM_000006...,belly_dancing
2,tmp/train_256/belly_dancing/1glQafnTBQs_000119...,belly_dancing
3,tmp/train_256/belly_dancing/2BDZwseEAfk_000040...,belly_dancing
4,tmp/train_256/belly_dancing/1bI0AiGJCWE_000311...,belly_dancing
...,...,...
11683,tmp/val/Htq2gWeEZmg_000019_000029.mp4,tying knot (not on a tie)
11684,tmp/val/ulPZbXr-X20_000002_000012.mp4,front raises
11685,tmp/val/mDKwkhe8J2w_000003_000013.mp4,headbutting
11686,tmp/val/v8P7a6ukH74_000088_000098.mp4,playing cello
11687,tmp/val/wxRMVEHYLFA_000013_000023.mp4,drumming fingers

In [30]:
result.to_csv('result.csv')